{{#each posts as |post|}}
  <div class="card" id="post">
    <h2><a href="/post/{{id}}">{{post.title}}</a>
    </h2>
    <p>
      {{post.content}}</p>
    <p>posted by<b>
        {{post.user.username}}</b>
      on
      {{format_date post.createdAt}}</p>
  </div>
{{/each}}